<section class="about" id="about">
  <div class="about__container container">
    <div class="about__inner">
      <div class="about__left">
        <picture>
          <source srcset="../img/em.webp" type="image/webp">
          <img loading="lazy" src="../img/em.jpg." class="image" width="600" height="900" alt="">
        </picture>
      </div>
      <div class="about__right">
        <h2 class="about__title h2">О нас</h2>
        <div class="about__text custom-text">
          <p>Мы работаем с 1993 года. С тех пор нам удалось помочь многим семьям.
            Сегодня мы осуществляем деятельность по двум направлениям:
            консультации для родителей и детей от 3 до 16 лет и тренинги для подростков от 12 до 14 лет.</p>
          <p><strong>Чему подростки учатся на тренингах:</strong></p>
          <ul>
            <li>Регулировать своё эмоциональное состояние и комфортно для себя и окружающих выражать эмоции;</li>
            <li>Быть уверенным в себе и справляться со страхом ошибок;</li>
            <li>Навыкам успешной коммуникации и социализации, научатся грамотно работать в команде и высказывать свои
              предложения/мнения, даже если они рознятся с мнениями большинства;</li>
            <li>Пониманию и принятию себя разного, узнают много нового о самооценке и пробуют посмотреть на себя с новой
              стороны;</li>
            <li>Справляться с конфликтами, тревогой и напряжением;</li>
            <li>Говорить «нет» и определять свои психологические границы;</li>
            <li>Отличать депрессию и апатию от плохого настроения;</li>
            <li>Приобретать новый опыт принятия себя;</li>
            <li>Знакомятся с методиками самопомощи и поддержки в различных стрессовых ситуациях.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
