<section class="cons">
  <div class="cons__container container">
    <h2 class="visually-hidden">Подробнее о консультациях</h2>
    <ul class="plus__list">
      <li class="plus__item">
        <div class="plus__content">
          <div class="plus__img">
            <svg class="plus__svg">
              <use xlink:href="img/sprite.svg#room"></use>
            </svg>
          </div>
          <h3 class="plus__text plus__text--white">Продолжительсть консультации 1 час</h3>
        </div>
      </li>
      <li class="plus__item">
        <div class="plus__content">
          <div class="plus__img">
            <svg class="plus__svg">
              <use xlink:href="img/sprite.svg#coffee"></use>
            </svg>
          </div>
          <h3 class="plus__text plus__text--white">Подбираем удобное время  (без выходных)</h3>
        </div>
      </li>
      <li class="plus__item">
        <div class="plus__content">
          <div class="plus__img">
            <svg class="plus__svg">
              <use xlink:href="img/sprite.svg#time"></use>
            </svg>
          </div>
          <h3 class="plus__text plus__text--white">Продолжительность тренинга 2 часа</h3>
        </div>
      </li>
      <li class="plus__item">
        <div class="plus__content">
          <div class="plus__img">
            <svg class="plus__svg">
              <use xlink:href="img/sprite.svg#conf"></use>
            </svg>
          </div>
          <h3 class="plus__text plus__text--white">100% личная конфиденциальность</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
