<footer class="footer" id="contacts">
  <h2 class="visually-hidden">Контактная информация</h2>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__content">
        <div class="footer__info">
          <h3 class="footer__title">Наш адрес</h3>
          <address class="footer__wrap">
            <p><span> Адрес офиса:</span></p>
            <p>Нижний Новгород, ул. Комсомольская, 2в</p>
            <p><span> Адрес оказания услуг:</span></p>
            <p>Нижний Новгород, пер. Моторный, 1А</p>
          </address>
        </div>
        <div class="footer__info">
          <h3 class="footer__title">Наши контакты</h3>
          <div class="footer__wrap">
            <p><span> Телефон:</span></p>
            <a href="tel:http://8%20(831)%20292-23-18" class="footer__phone"> 8 (831) 292-23-18</a>
          </div>
          <div class="footer__wrap">
            <p><span> Email:</span></p>
            <a href="mailto:http://empatia72@yandex.ru" class="footer__email">empatia72@yandex.ru</a>
          </div>
        </div>
        <div class="footer__info footer__info--form">
          <h3 class="footer__title">Остались вопросы?</h3>
          <a href="#ask" class="btn-reset btn popup-link">Заказать звонок</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
      <small class="footer__copyright">
        © АНО ДО ЦППиР "Эмпатия". Все права защищены. 2022.</small>
      <small class="footer__made">Made with<span></span>by Irina Pronina</small>
    </div>
  </div></div>
</footer>
