<section class="plus">
  <h2 class="visually-hidden">Виды услуг</h2>
  <div class="plus__container container">
    <ul class="plus__list">
      <li class="plus__item">
        <div class="plus__content">
          <div class="plus__img">
            <svg class="plus__svg">
              <use xlink:href="img/sprite.svg#ic1"></use>
            </svg>
          </div>
          <h3 class="plus__text">Когнитивно-поведенческая психотерапия</h3>
        </div>
      </li>
      <li class="plus__item">
        <div class="plus__content">
          <div class="plus__img">
            <svg class="plus__svg">
              <use xlink:href="img/sprite.svg#ic2"></use>
            </svg>
          </div>
          <h3 class="plus__text">Песочная терапия</h3>
        </div>
      </li>
      <li class="plus__item">
        <div class="plus__content">
          <div class="plus__img">
            <svg class="plus__svg">
              <use xlink:href="img/sprite.svg#ic3"></use>
            </svg>
          </div>
          <h3 class="plus__text">Арт-терапия</h3>
        </div>
      </li>
      <li class="plus__item">
        <div class="plus__content">
          <div class="plus__img">
            <svg class="plus__svg">
              <use xlink:href="img/sprite.svg#ic4"></use>
            </svg>
          </div>
          <h3 class="plus__text">Групповые и игровые форматы</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
