<section class="price">
  <div class="price__container container">
    <h2 class="h2 price__title">Стоимость</h2>
    <ul class="price__list">
      <li class="price__item">
        <article class="price__card">
          <div class="price__img">
            <picture>
              <source srcset="../img/indiv.webp" type="image/webp">
              <img loading="lazy" src="../img/indiv.jpg" class="image" width="364" height="260" alt="">
            </picture>
          </div>
          <div class="price__descr">
            <h3 class="price__subtitle">
              Индивидуальная консультация
            </h3>
            <p>Это работа один на один. Первые консультации всегда проходят вместе с родителями и детьми, далее они проводятся индивидуально с детьми с последующей обратной связью
            </p>
            <div class="price__more">
              <p><strong>Длительность консультации</strong> – 1 час</p>
              <p><strong>Стоимость</strong> - 1200 руб.</p>
              <p><strong>Длительность курса зависит от решения проблемы</strong></p>
            </div>
          </div>
          <div class="price__bottom">
            <button class="price__btn btn-reset">Подробнее</button>
          </div>
        </article>
      </li>
      <li class="price__item">
        <article class="price__card">
          <div class="price__img">
            <picture>
              <source srcset="../img/group.webp" type="image/webp">
              <img loading="lazy" src="../img/group.jpg" class="image" width="364" height="260" alt="">
            </picture>
          </div>
          <div class="price__descr">
            <h3 class="price__subtitle">
              Групповой тренинг
            </h3>
            <p>Это занятия в группе 6-8 человек. В результате ребята получают знания о себе и окружающих, умеют помочь себе в стрессовой ситуации и установить комфортные отношения с социумом.
            </p>
            <div class="price__more">
              <p><strong>Длительность курса</strong> – 3 месяца</p>
              <p><strong>Стоимость</strong> - 2500 руб. в месяц</p>
              <p><strong>Длительность занятия</strong> - не менее 2 часов</p>
              <p><strong>Первый тренинг – бесплатный</strong></p>
            </div>
          </div>
          <div class="price__bottom">
            <button class="price__btn btn-reset">Подробнее</button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
