<section class="profi">
  <div class="profi__container container">
    <h2 class="profi__title h2">Психолог</h2>
    <div class="profi__inner">
      <div class="profi__item">
        <div class="profi__content">
          <div class="profi__pic profi__pic--odd">
            <div class="profi__img">
              <picture>
                <source srcset="../img/profi.webp" type="image/webp">
                <img loading="lazy" src="../img/profi.jpg" class="image" width="185" height="185" alt="">
              </picture>
            </div>
          </div>
          <div class="profi__descr">
            <h3 class="profi__subtitle">
              Юлия Левина
            </h3>
            <p>Детский педагог-психолог, подростковый психолог- консультант</p>
            <div class="profi__edu">
              <p><strong>Образование</strong></p>
              <p>Нижегородский государственный педагогический университет им. К. Минина, бакалавр
                по направлению &quot;Философия&quot;.</p>
              <p>АНО ДПО &quot;Институт психологии&quot;, профессиональная переподготовка по дополнительной
                профессиональной программе &quot;Детская психология и педагогика. Развивающие
                технологии&quot;.</p>
              <p>АНО ДПО &quot;Институт психологии&quot;, повышение квалификации по дополнительной
                профессиональной программе &quot;Когнитивно-поведенческая психотерапия&quot;.</p>
            </div>

          </div>
          <div class="profi__bottom">
            <button class="profi__btn btn-reset">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="profi__quote">
        <div class="profi__quote-text custom-text">
          <p>
            До того, как я выбрала профессию психолога, я много работала с детьми. Опыт общения стал моим фундаментом.
            Люблю работать с детьми. Верю, что могу дать им поддержку и заботу. Я учу их справляться с внешними и
            внутренними трудностями, помогаю найти опору внутри себя, помогаю увидеть себя настоящих.
            В ответ они дают мне вдохновение.</p>
          <p>Внимательно отношусь к каждому случаю и запросу, стараюсь помочь каждому ребёнку и родителю, которые ко мне
            приходят.</p>

        </div>
      </div>
    </div>
  </div>
</section>
