<section class="testimonials">
  <div class="testimonials__container container">
    <h2 class="h2 testimonials__title">Отзывы</h2>
    <div class="testimonials__main">
      <div class="testimonials__slider swiper">
        <ul class="testimonials__list swiper-wrapper">
          <li class="testimonials__item swiper-slide">
            <article class="testimonials__article">
              <div class="testimonials__pic">
                <picture>
                  <source srcset="../img/avatarf.webp" type="image/webp">
                  <img loading="lazy" src="../img/avatarf.jpg" class="testimonials__img" width="160" height="160"
                    alt="Фото">
                </picture>
              </div>
              <div class="testimonials__text custom-text">
                <p>Мне очень нравится!!! Прям очень очень! Атмосфера дружеская, нет тех
                  самых косых взглядов как в школе; с ребятами легко найти общий язык;
                  задания лёгкие, но порой требуют командной работы. Формат мне тоже
                  очень нравится. Мы сидим в таком кружочке, словно в лагере вокруг костра.
                  Конец тренинга мне тоже очень нравится, такой ламповый. Я узнала как
                  сдерживать гнев, как поддерживать людей и много нового! Приходите, не
                  пожалеете;)</p>
              </div>
              <div class="testimonials__author">
                <p class="testimonials__name">Евгения</p>
                <p class="testimonials__year">13 лет</p>
              </div>
            </article>
          </li>
          <li class="testimonials__item swiper-slide">
            <article class="testimonials__article">
              <div class="testimonials__pic">
                <picture>
                  <source srcset="../img/avatarm.webp" type="image/webp">
                  <img loading="lazy" src="../img/avatarm.jpg" class="testimonials__img" width="160" height="160"
                    alt="Фото">
                </picture>
              </div>
              <div class="testimonials__text custom-text">
                <p>Мне очень нравится наша группа, я всегда с радостью прихожу на занятия.
                  Особенно я ценю общение с ребятами. Всё таки очень хорошо, когда есть
                  место где ты можешь выговориться, проработать некоторые моменты и
                  никто тебя за это не осудит, и не скажет, что ты им мешаешь или как-либо
                  напрягаешь :)</p>
              </div>
              <div class="testimonials__author">
                <p class="testimonials__name">Диана</p>
                <p class="testimonials__year">13 лет</p>
              </div>
            </article>
          </li>
          <li class="testimonials__item swiper-slide">
            <article class="testimonials__article">
              <div class="testimonials__pic">
                <picture>
                  <source srcset="../img/avatarf.webp" type="image/webp">
                  <img loading="lazy" src="../img/avatarf.jpg" class="testimonials__img" width="160" height="160"
                    alt="Фото">
                </picture>
              </div>
              <div class="testimonials__text custom-text">
                <p>Мне очень понравились тренинги, каждое посещение я очень ждала, Юля
                  лучший преподаватель, грустно, что я закончила обучение, всем советую!!!)</p>
              </div>
              <div class="testimonials__author">
                <p class="testimonials__name">Лилия</p>
                <p class="testimonials__year">13 лет</p>
              </div>
            </article>
          </li>
          <li class="testimonials__item swiper-slide">
            <article class="testimonials__article">
              <div class="testimonials__pic">
                <picture>
                  <source srcset="../img/avatarf.webp" type="image/webp">
                  <img loading="lazy" src="../img/avatarf.jpg" class="testimonials__img" width="160" height="160"
                    alt="Фото">
                </picture>
              </div>
              <div class="testimonials__text custom-text">
                <p>Мне очень понравилось, проводящий очень добрый, атмосфера очень
                  приятная на занятиях чувствуешь себя как дома, методики и задания очень
                  простые, хорошо помогают</p>
              </div>
              <div class="testimonials__author">
                <p class="testimonials__name">Иван</p>
                <p class="testimonials__year">14 лет</p>
              </div>
            </article>
          </li>
          <li class="testimonials__item swiper-slide">
            <article class="testimonials__article">
              <div class="testimonials__pic">
                <picture>
                  <source srcset="../img/avatarf.webp" type="image/webp">
                  <img loading="lazy" src="../img/avatarf.jpg" class="testimonials__img" width="160" height="160"
                    alt="Фото">
                </picture>
              </div>
              <div class="testimonials__text custom-text">
                <p>Мне очень нравится ходить на тренинги, особенно в субботу, потому что
                  можно спросить о проблемах возникших за неделю и узнать их решение)</p>
              </div>
              <div class="testimonials__author">
                <p class="testimonials__name">Полина</p>
                <p class="testimonials__year">13 лет</p>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="testimonials__btns">
        <button class="btn-reset slider-nav__btn slider-btn testimonials__prev">
          <div class="hero-slider__btn-wrapper-prev">
            <svg class="slider-nav__arrow">
              <use xlink:href="img/sprite.svg#arrow-left"></use>
            </svg>
          </div>
        </button>
        <button class="btn-reset slider-nav__btn slider-btn testimonials__next">
          <div class="hero-slider__btn-wrapper-next">
            <svg class="slider-nav__arrow">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </button>
      </div>
      <div class="testimonials__pag"></div>
    </div>

  </div>
</section>
